* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    background-color: darkgray;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}

header a {
    text-decoration: none;
    color:black;
}


header h1 {
    color: seagreen;
    font-weight: bold;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;

}

.hero {
    background-image: url("../images/hero-bg.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    

}

.hero h2{
    padding: 500px 35px 25px 35px;
    color:seagreen;
    text-align: right;
    
}

main {
    display: flex;
    flex-direction: column;
    
}

.about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    background-image: url("../images/nav-bg.jpg");
}

.about-me h2 {
    padding: 20px, 35px ;
}

.about-me p {
    line-height: 2.5;
    text-align: left;
    width: 80%;
    margin: 10px 15px;
    color: white;

}

.applications {
    display: flex;
}

.m-app {
    font-size: 1.5vw;
}

.run-buddy {
    background-image: url("../images/run-buddy.png");
    height: 500px;
    width: 700px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.horiseon {
    background-image: url("../images/horiseon.png");
    background-size: contain;
    background-position: center;
    height: 350px;
    width: 500px;
    background-repeat: no-repeat;
}

.stockanator {
    background-image: url("../images/stockanator.png");
    height: 350px;
    width: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.applications article {
    width: 80%;
    margin: 10px 15px;
}


.applications article div {
    display: flex;
    flex-direction: column;
}

.applications article div a {
    font-size: 24;
    color: black;
    text-decoration: none;
}

.contact-me {
    display:flex;
}

.contact-me ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 10px 15px;
    
}

.contact-me ul li {
    
    padding: 10px 55px;
    font-weight: lighter;
    font-size: 1.55vw;
    color:green;
    list-style: none;
    text-decoration: underline;
}

.contact-me ul li:hover {
    opacity: 0.5;
}

.contact-me ul li:hover::after {
     content:"<-Stay tuned " ;
     color:red;
} 

main section h2 {
    color:black;
    border-right: 10px solid darkgrey;
    padding: 25px 30px;
    width: 20%;
    
}

footer h2 {
    text-align: center;
    color: seagreen;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    .about-me p {
        font-size: 20px;
    }
    .hero h2 {
        text-align: start;
        
    }
    .contact-me ul li {
        font-size: 20px;
    }
}

@media screen and (max-width: 758px) {
    
}

@media screen and (max-width: 575px) {

   
    
}


